  <nav>
          <header>
        <span<a id="title" href="/">Tech Blog</a></span>
        <div id="buttons">
          {{#if loggedIn}}
          <a href="/Posts">Posts</a>
          <span><a id="logout">Logout</a></span>
          {{else}}
          <span><a id="home" href="/login">Login</a></span>
          <span><a id="home" href="/signup">Sign Up</a></span>
          {{/if}}
          </div>
        </nav>

<div id="blogpost">
<h1 id="posttitle">Initial Thoughts Of React</h1>
<br>
<h3 id="postcontent">I like in-line styling in React. I also think it's farly superior to handlebars and I'm looking forward to working with it more.</h3>
<br>
<h4 id="posted">Posted By Gunnar Ulatowski 8/12/2021 @12:00am</h4>
</div>

<div id="blogpost">
<h1 id="posttitle">I am tired</h1>
<br>
<h3 id="postcontent">I have been coding for well over 40 hours this week and it's only thursday and I still have so much work to do.</h3>
<br>
<h4 id="posted">Posted By Gunnar Ulatowski 8/12/2021 @12:07am</h4>
</div>

<div id="blogpost">
<h1 id="posttitle">Cool Idea</h1>
<br>
<h3 id="postcontent">Imagine a website where you can design your own rock climbing wall and choose what holds you want and have the parts shipped to your house for you to build it.</h3>
<br>
<h4 id="posted">Posted By Gunnar Ulatowski 8/12/2021 @12:11am</h4>
</div>