
<body>
    <h2 id="title">Sign Up</h2>

<form class="form login-form">
  <div id="form" class="form-group">
    <label id="home2" for="username-signup">username:</label>
    <input id="home2" class="form-input" type="text" id="username-login" />
  </div>
  <div id="form" class="form-group">
    <label id="home2" for="password-login">password:</label>
    <input id="home2" class="form-input" type="password" id="password-login" />
  </div>
  <div id="form" class="form-group">
    <button id="home" class="btn btn-primary" type="submit">Sign Up</button>
  </div>
</form>
</body>
